<!doctype html>
<head><link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link rel="stylesheet" link href="/static/style.css">
</head>
    <title>Upload your Data</title>
    <h1>Upload your Data</h1>
    <br>
    <br>
     <div id="uploadArea">
     <form action="upload" method=post enctype=multipart/form-data style="display: inline-flex;" >
        <input type="file" name="file" class="upload">
         <input type=submit value=Upload id="uploadButton">
    </form>
    <br>
    <br>
    <div id="exampleLink">
        <a href="/input_data?filename=example_data.csv">Want to try an example?</a>
    </div>

    </div>
